
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Mengisi seluruh ketinggian viewport */
    background-image: linear-gradient(to right, #4682B4, #00FFFF, #00FA9A);
    font-style: 'Poppins';
}


table tr:hover {
    background-color: rgba(255, 68, 0, 0.527); /* Ganti warna latar belakang saat dihover sesuai kebutuhan */
    cursor: pointer; /* Mengubah kursor saat dihover */
    /* background-color: #ffffffaf; */
}

img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 -10px;
    border-radius: 50%;
    border: 2px solid orangered;
    box-sizing: border-box;
    margin-bottom: 35px;
}


td {
    /* padding-top: 45px; */
    border: 2px solid rgb(250, 248, 247); /* Garis sekeliling sel-sel */
    padding: 8px;
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
}

#kelas option {
    font-style: black;
}


body {
    background: #599fd9;
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
    min-height: 100vh;
    overflow-x: hidden;
  }
   .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  } 
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #eff4fc;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  .text-gray {
    color: #aaa;
  }
  .nav-link{
      text-transform: capitalize;
  }
  .nav-link:hover{
      background:#f3f2f2;
  }
  .text-primary{
      color:#7579e7 !important;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  
  
    